/* screen - apprendre-versionaya */

.apprendre-versionaya {
    background-color: #1c1a1a;
    height: 4615px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1904px;
}

.apprendre-versionaya .apprendre-5eV5YA {
    background-color: transparent;
    bottom: calc(48.19% - 10px);
    height: 20px;
    left: calc(43.79% - 44px);
    letter-spacing: 1.50px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100px;
}

.apprendre-versionaya .art-sound-design-Oq9mec {
    background-color: transparent;
    bottom: calc(23.39% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .background-2KK58H {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-3GTRAx {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 13px);
}

.apprendre-versionaya .background-AlCa0m {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-DazGFL {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 11px);
}

.apprendre-versionaya .background-GhEq50 {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-KZtV9m {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-O4KprX {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-Oq9mec {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-T2i34x {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-V6xb5e {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-VaTKq7 {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-Z0V7Qp {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-aOXRhf {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-gPCS2z {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-lVBQOG {
    background-color: transparent;
    height: 251px;
    left: -7px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-nmMolz {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-postproduction-1gQpwx {
    background-color: transparent;
    height: calc(100.00% - 12px);
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 18px);
}

.apprendre-versionaya .background-preproduction-li2Qoh {
    background-color: transparent;
    height: calc(100.00% + 18px);
    left: -8px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 17px);
}

.apprendre-versionaya .background-production-isyx6y {
    background-color: transparent;
    height: calc(100.00% + 18px);
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 18px);
}

.apprendre-versionaya .background-rrT3zG {
    background-color: transparent;
    height: 251px;
    left: -8px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-xOIPpS {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-xPLucR {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 11px);
}

.apprendre-versionaya .background-xUqYwk {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 12px);
}

.apprendre-versionaya .background-xUzW3R {
    background-color: transparent;
    height: 251px;
    left: -8px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .background-xa139C {
    background-color: transparent;
    height: 251px;
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 13px);
}

.apprendre-versionaya .background-zFxMEj {
    background-color: transparent;
    height: 251px;
    left: -8px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 14px);
}

.apprendre-versionaya .bien-prendre-le-son-rvb-nmMolz {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .blog-5eV5YA {
    background-color: transparent;
    bottom: calc(48.19% - 10px);
    height: 20px;
    letter-spacing: 1.50px;
    line-height: 14px;
    position: absolute;
    right: calc(38.10% - 18px);
    text-align: left;
    white-space: nowrap;
    width: 46px;
}

.apprendre-versionaya .button-suivant2-C61RwL {
    background-color: transparent;
    height: 43px;
    left: 847px;
    position: absolute;
    top: 3229px;
    width: 226px;
}

.apprendre-versionaya .button-suivant3-C61RwL {
    background-color: transparent;
    height: 43px;
    left: 847px;
    position: absolute;
    top: 4211px;
    width: 226px;
}

.apprendre-versionaya .cin-ekub-iPe1yZ {
    background-color: transparent;
    bottom: calc(48.96% - 24px);
    color: var(--cararra);
    font-family: var(--font-family-bebas_neue);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    height: 49px;
    left: 69px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 129px;
}

.apprendre-versionaya .cinq-erreurs-vi-la-prise-de-son-O4KprX {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .circle-haut1-C61RwL {
    background-color: transparent;
    height: 66px;
    left: 1831px;
    object-fit: cover;
    position: absolute;
    top: 1631px;
    width: 66px;
}

.apprendre-versionaya .circle-haut2-C61RwL {
    background-color: transparent;
    height: 66px;
    left: 1831px;
    object-fit: cover;
    position: absolute;
    top: 2718px;
    width: 66px;
}

.apprendre-versionaya .circle-haut3-C61RwL {
    background-color: transparent;
    height: 66px;
    left: 1831px;
    object-fit: cover;
    position: absolute;
    top: 3715px;
    width: 66px;
}

.apprendre-versionaya .comment-avoir-u-dans-nos-vidos-T2i34x {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .comment-choisir-a-pour-la-video-xUzW3R {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .comment-crire-u-ario-avec-celtx-lVBQOG {
    background-color: transparent;
    bottom: 1px;
    height: 35px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 4px);
}

.apprendre-versionaya .comment-faire-l-de-son-au-monde-aOXRhf {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .contact-5eV5YA {
    background-color: transparent;
    bottom: calc(48.19% - 10px);
    height: 20px;
    letter-spacing: 1.50px;
    line-height: 14px;
    position: absolute;
    right: calc(33.15% - 27px);
    text-align: left;
    white-space: nowrap;
    width: 80px;
}

.apprendre-versionaya .dribbble-light-preview-2FrSWI {
    background-color: transparent;
    height: 100%;
    left: 5px;
    position: relative;
    top: 0px;
    width: calc(100.00% - 10px);
}

.apprendre-versionaya .dribbble-light-preview-69xmRh {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
}

.apprendre-versionaya .dribbble-light-preview-uCD0xn {
    background-color: transparent;
    height: calc(100.00% - 4px);
    left: 0px;
    position: relative;
    top: 2px;
    width: 100%;
}

.apprendre-versionaya .dslr-son-camera-GhEq50 {
    background-color: transparent;
    bottom: 49px;
    height: 29px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .ecrire-un-scnar-vous-lancer-14-xUqYwk {
    background-color: transparent;
    bottom: 1px;
    height: 73px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .ecriture-de-scn-stions-se-poser-2KK58H {
    background-color: transparent;
    bottom: 1px;
    height: 60px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .ecriture-scenario-2KK58H {
    background-color: transparent;
    bottom: calc(19.19% - 6px);
    height: 29px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .ecriture-scenario-VaTKq7 {
    background-color: transparent;
    bottom: calc(18.07% - 5px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .enregistrement-mix-moustering-O4KprX {
    background-color: transparent;
    bottom: calc(23.24% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .evenements-5eV5YA {
    background-color: transparent;
    bottom: calc(47.38% - 9px);
    height: 20px;
    letter-spacing: 1.50px;
    line-height: 14px;
    position: absolute;
    right: calc(43.36% - 49px);
    text-align: left;
    white-space: nowrap;
    width: 112px;
}

.apprendre-versionaya .fleche-qg3Yun {
    background-color: transparent;
    height: 27px;
    object-fit: cover;
    position: absolute;
    right: 28px;
    top: 1px;
    width: 30px;
}

.apprendre-versionaya .fleche-r2Rkbn {
    background-color: transparent;
    height: 27px;
    object-fit: cover;
    position: absolute;
    right: 28px;
    top: 1px;
    width: 30px;
}

.apprendre-versionaya .footer-C61RwL {
    background-color: transparent;
    background-image: url(../img/trac--4@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 145px;
    left: 0px;
    position: absolute;
    top: 4470px;
    width: 1920px;
}

.apprendre-versionaya .groupe-icones-iPe1yZ {
    background-color: transparent;
    bottom: calc(50.00% - 24px);
    height: 48px;
    position: absolute;
    right: 888px;
    width: 144px;
}

.apprendre-versionaya .huit-tapes-pour-rire-un-scnario-VaTKq7 {
    background-color: transparent;
    bottom: 1px;
    height: 56px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 5px);
}

.apprendre-versionaya .icons-Fg2Vfh {
    background-color: transparent;
    background-image: url(../img/twitter---154-@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
}

.apprendre-versionaya .icons-GxILPh {
    background-color: transparent;
    background-image: url(../img/instagram---167-@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
}

.apprendre-versionaya .icons-xM7jm7 {
    background-color: transparent;
    background-image: url(../img/facebook---176-@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
}

.apprendre-versionaya .la-prise-de-son-dslr-et-camera-GhEq50 {
    background-color: transparent;
    bottom: 1px;
    height: 42px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .la-prise-de-son-en-video-xOIPpS {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .layer-10-isyx6y {
    background-color: #dbcc10;
    bottom: 0px;
    height: 173px;
    left: 0px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.apprendre-versionaya .layer-11-1gQpwx {
    background-color: #dbcc10;
    bottom: 30px;
    height: 173px;
    left: 0px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.apprendre-versionaya .layer-9-li2Qoh {
    background-color: transparent;
    bottom: 1px;
    height: 173px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.apprendre-versionaya .le-montage-vido-ur-premiere-pro-zFxMEj {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .le-tableau-de-b-rd-de-pro-tools-AlCa0m {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .les-bases-de-la-ereo-ab-ortf-ms-gPCS2z {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .les-cinq-meille-ntage-pour-2021-xa139C {
    background-color: transparent;
    bottom: 1px;
    height: 56px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 3px);
}

.apprendre-versionaya .les-quatre-meil-en-2021-pc-mac-Z0V7Qp {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .logiciel-scenario-3GTRAx {
    background-color: transparent;
    bottom: calc(18.07% - 5px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 1px);
}

.apprendre-versionaya .logo-5eV5YA {
    background-color: transparent;
    height: 69px;
    left: 70px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 154px;
}

.apprendre-versionaya .menu-bar-C61RwL {
    background-color: transparent;
    background-image: url(../img/trac--4-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 103px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 1920px;
}

.apprendre-versionaya .micro-stereophonique-son-gPCS2z {
    background-color: transparent;
    bottom: calc(23.39% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .minimal-2017-all-iPe1yZ {
    background-color: transparent;
    bottom: calc(43.80% - 7px);
    color: var(--white);
    font-family: var(--font-family-sfuidisplay-light);
    font-size: var(--font-size-xs);
    font-weight: 300;
    height: 16px;
    left: 86.35%;
    letter-spacing: 0.50px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 10.10%;
}

.apprendre-versionaya .montage-video-logiciels-xa139C {
    background-color: transparent;
    bottom: calc(20.43% - 6px);
    height: 29px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .p-tutorial1-JPwteL {
    background-color: transparent;
    height: 349px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .p-tutorial2-JPwteL {
    background-color: transparent;
    height: 349px;
    left: calc(33.41% - 118px);
    position: absolute;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .p-tutorial3-JPwteL {
    background-color: transparent;
    height: 324px;
    position: absolute;
    right: calc(33.29% - 118px);
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .p-tutorial4-JPwteL {
    background-color: transparent;
    height: 349px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .p-tutorial5-JPwteL {
    background-color: transparent;
    bottom: 0px;
    height: 347px;
    left: 1px;
    position: absolute;
    width: 354px;
}

.apprendre-versionaya .p-tutorial6-JPwteL {
    background-color: transparent;
    bottom: 0px;
    height: 347px;
    left: calc(33.41% - 118px);
    position: absolute;
    width: 354px;
}

.apprendre-versionaya .p-tutorial7-JPwteL {
    background-color: transparent;
    bottom: 0px;
    height: 347px;
    position: absolute;
    right: calc(33.29% - 118px);
    width: 354px;
}

.apprendre-versionaya .p-tutorial8-JPwteL {
    background-color: transparent;
    bottom: 0px;
    height: 347px;
    position: absolute;
    right: 0px;
    width: 354px;
}

.apprendre-versionaya .page-1-de-5-qg3Yun {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 700;
    height: 45px;
    left: 11px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: calc(100.00% - 20px);
}

.apprendre-versionaya .page-1-de-5-r2Rkbn {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 700;
    height: 45px;
    left: 11px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: calc(100.00% - 20px);
}

.apprendre-versionaya .pop-tutorial1-EvKniQ {
    background-color: transparent;
    bottom: 0px;
    height: 345px;
    position: absolute;
    right: 0px;
    width: 354px;
}

.apprendre-versionaya .pop-tutorial2-EvKniQ {
    background-color: transparent;
    bottom: 1px;
    height: 344px;
    position: absolute;
    right: calc(33.27% - 118px);
    width: 354px;
}

.apprendre-versionaya .pop-tutorial3-EvKniQ {
    background-color: transparent;
    bottom: 0px;
    height: 345px;
    left: calc(33.41% - 118px);
    position: absolute;
    width: 354px;
}

.apprendre-versionaya .pop-tutorial4-EvKniQ {
    background-color: transparent;
    bottom: 0px;
    height: 345px;
    left: 0px;
    position: absolute;
    width: 354px;
}

.apprendre-versionaya .pop-tutorial5-EvKniQ {
    background-color: transparent;
    height: 347px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .pop-tutorial6-EvKniQ {
    background-color: transparent;
    height: 347px;
    left: calc(33.41% - 118px);
    position: absolute;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .pop-tutorial7-EvKniQ {
    background-color: transparent;
    height: 335px;
    position: absolute;
    right: calc(33.27% - 118px);
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .pop-tutorial8-EvKniQ {
    background-color: transparent;
    height: 347px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .post-production-I6M8DA {
    background-color: transparent;
    height: 100%;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .post-production-LKOZKO {
    background-color: transparent;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 375px;
}

.apprendre-versionaya .postproduction-1gQpwx {
    background-color: transparent;
    bottom: -3px;
    color: var(--white);
    font-family: var(--font-family-bebas_neue);
    font-size: var(--font-size-xl);
    font-weight: 700;
    height: 136px;
    left: 28px;
    letter-spacing: 0.00px;
    line-height: 44px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 175px;
}

.apprendre-versionaya .pp-tutorial1-wBYd4O {
    background-color: transparent;
    height: 296px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 356px;
}

.apprendre-versionaya .pp-tutorial2-wBYd4O {
    background-color: transparent;
    height: 317px;
    left: calc(33.42% - 118px);
    position: absolute;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .pp-tutorial3-wBYd4O {
    background-color: transparent;
    height: 321px;
    position: absolute;
    right: calc(33.29% - 118px);
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .pp-tutorial4-wBYd4O {
    background-color: transparent;
    height: 317px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 354px;
}

.apprendre-versionaya .pp-tutorial5-wBYd4O {
    background-color: transparent;
    bottom: 8px;
    height: 344px;
    left: 2px;
    position: absolute;
    width: 354px;
}

.apprendre-versionaya .pp-tutorial6-wBYd4O {
    background-color: transparent;
    bottom: 0px;
    height: 352px;
    left: calc(33.42% - 118px);
    position: absolute;
    width: 354px;
}

.apprendre-versionaya .pp-tutorial7-wBYd4O {
    background-color: transparent;
    bottom: 35px;
    height: 317px;
    position: absolute;
    right: calc(33.27% - 118px);
    width: 354px;
}

.apprendre-versionaya .pre-production-LKOZKO {
    background-color: transparent;
    height: calc(100.00% - 31px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 375px;
}

.apprendre-versionaya .pre-production-YLTCeP {
    background-color: transparent;
    height: 100%;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .preproduction-li2Qoh {
    background-color: transparent;
    bottom: 2px;
    height: 101px;
    left: 27px;
    letter-spacing: 0.00px;
    line-height: 44px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 175px;
}

.apprendre-versionaya .pro-tools-short-nctions-de-base-rrT3zG {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .production-KGUZlC {
    background-color: transparent;
    height: 100%;
    left: 0px;
    letter-spacing: 0.38px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .production-LKOZKO {
    background-color: transparent;
    height: calc(100.00% - 31px);
    left: calc(49.95% - 187px);
    position: absolute;
    top: 0px;
    width: 375px;
}

.apprendre-versionaya .production-isyx6y {
    background-color: transparent;
    bottom: 7px;
    height: 57px;
    left: 43px;
    letter-spacing: 0.00px;
    line-height: 44px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 175px;
}

.apprendre-versionaya .profil-5eV5YA {
    background-color: transparent;
    height: 20px;
    position: absolute;
    right: 70px;
    top: 41px;
    width: 82px;
}

.apprendre-versionaya .profil-RO06Ii {
    background-color: transparent;
    height: 20px;
    letter-spacing: 0.60px;
    line-height: 18px;
    position: absolute;
    right: -2px;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: 55px;
}

.apprendre-versionaya .profil-icone-RO06Ii {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 20px;
}

.apprendre-versionaya .quel-logiciel-p-ire-son-scnario-3GTRAx {
    background-color: transparent;
    bottom: 1px;
    height: 56px;
    left: 3px;
    letter-spacing: 0.00px;
    line-height: 22px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .realiser-5eV5YA {
    background-color: transparent;
    bottom: calc(48.19% - 10px);
    height: 20px;
    letter-spacing: 1.50px;
    line-height: 14px;
    position: absolute;
    right: calc(49.97% - 39px);
    text-align: left;
    white-space: nowrap;
    width: 79px;
}

.apprendre-versionaya .recherche1-C61RwL {
    background-color: transparent;
    height: 44px;
    left: 1528px;
    object-fit: cover;
    position: absolute;
    top: 1310px;
    width: 275px;
}

.apprendre-versionaya .recherche2-C61RwL {
    background-color: transparent;
    height: 44px;
    left: 1528px;
    object-fit: cover;
    position: absolute;
    top: 2379px;
    width: 275px;
}

.apprendre-versionaya .recherche3-C61RwL {
    background-color: transparent;
    height: 44px;
    left: 1528px;
    object-fit: cover;
    position: absolute;
    top: 3361px;
    width: 275px;
}

.apprendre-versionaya .sabre-laser-sur-wars-lightsaber-V6xb5e {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .scenario-debuta-t-faireducinema-DazGFL {
    background-color: transparent;
    bottom: 47px;
    height: 29px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.apprendre-versionaya .scenario-logiciel-celtx-lVBQOG {
    background-color: transparent;
    bottom: 31px;
    height: 29px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.apprendre-versionaya .scenario-motiva-a-faireducinema-xUqYwk {
    background-color: transparent;
    bottom: calc(25.53% - 7px);
    height: 29px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.apprendre-versionaya .sections-C61RwL {
    background-color: transparent;
    height: 712px;
    left: 364px;
    position: absolute;
    top: 289px;
    width: 1191px;
}

.apprendre-versionaya .sections-postproduction-C61RwL {
    background-color: transparent;
    height: 735px;
    left: 181px;
    position: absolute;
    top: 3421px;
    width: 1626px;
}

.apprendre-versionaya .sections-preproduction-C61RwL {
    background-color: transparent;
    height: 742px;
    left: 181px;
    position: absolute;
    top: 1370px;
    width: 1626px;
}

.apprendre-versionaya .sections-production-C61RwL {
    background-color: transparent;
    height: 737px;
    left: 181px;
    position: absolute;
    top: 2439px;
    width: 1626px;
}

.apprendre-versionaya .son-rvb-conseils-nmMolz {
    background-color: transparent;
    bottom: calc(23.39% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .span0-Tg1shO {}

.apprendre-versionaya .span0-ToWowP {}

.apprendre-versionaya .span0-jljsQ9 {}

.apprendre-versionaya .span1-Tg1shO {
    font-size: var(--font-size-m);
}

.apprendre-versionaya .span1-ToWowP {
    color: var(--lemon);
    font-weight: 400;
}

.apprendre-versionaya .span1-jljsQ9 {
    color: var(--lemon);
    font-weight: 400;
}

.apprendre-versionaya .span2-ToWowP {
    color: #000000;
    font-weight: 400;
}

.apprendre-versionaya .span2-jljsQ9 {
    color: #000000;
    font-weight: 400;
}

.apprendre-versionaya .span3-ToWowP {}

.apprendre-versionaya .span3-jljsQ9 {}

.apprendre-versionaya .span4-ToWowP {}

.apprendre-versionaya .span4-jljsQ9 {}

.apprendre-versionaya .tableau-protools-son-AlCa0m {
    background-color: transparent;
    bottom: calc(23.54% - 7px);
    height: 29px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .the-art-of-sound-design-Oq9mec {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}

.apprendre-versionaya .titre-postproduction-C61RwL {
    background-color: transparent;
    height: 59px;
    left: 238px;
    position: absolute;
    top: 3318px;
    width: 264px;
}

.apprendre-versionaya .titre-preproduction-C61RwL {
    background-color: transparent;
    height: 59px;
    left: 238px;
    position: absolute;
    top: 1267px;
    width: 246px;
}

.apprendre-versionaya .titre-production-C61RwL {
    background-color: transparent;
    height: 59px;
    left: 238px;
    position: absolute;
    top: 2339px;
    width: 186px;
}

.apprendre-versionaya .tools-shortcuts-protools-rrT3zG {
    background-color: transparent;
    bottom: calc(23.54% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .top-20-des-meil-r-after-effects-xPLucR {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 3px);
}

.apprendre-versionaya .top-aftereffects-montage-xPLucR {
    background-color: transparent;
    bottom: calc(23.33% - 7px);
    height: 29px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tuto-conseils-eclairage-T2i34x {
    background-color: transparent;
    bottom: calc(23.24% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tuto-conseils-script-KZtV9m {
    background-color: transparent;
    bottom: calc(23.61% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tuto-conseils-script-xUzW3R {
    background-color: transparent;
    bottom: calc(23.24% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tuto-conseils-son-aOXRhf {
    background-color: transparent;
    bottom: calc(23.39% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tuto-logiciels-montagevideo-Z0V7Qp {
    background-color: transparent;
    bottom: calc(23.39% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tuto-video-premierepro-zFxMEj {
    background-color: transparent;
    bottom: calc(23.39% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tuto-video-son-xOIPpS {
    background-color: transparent;
    bottom: calc(23.39% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tutopremiere-st-wars-sabrelaser-V6xb5e {
    background-color: transparent;
    bottom: calc(23.54% - 7px);
    height: 29px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .tutoriels-C61RwL {
    background-color: transparent;
    color: var(--lemon);
    font-family: var(--font-family-bebas_neue);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    height: auto;
    left: 810px;
    letter-spacing: 0.00px;
    line-height: 102px;
    position: absolute;
    text-align: left;
    text-shadow: 0px 3px 6px #00000029;
    top: 1127px;
    white-space: nowrap;
    width: auto;
}

.apprendre-versionaya .underline-I6M8DA {
    background-color: var(--turbo);
    bottom: 0px;
    height: 2px;
    left: 0px;
    position: absolute;
    width: 203px;
}

.apprendre-versionaya .underline-KGUZlC {
    background-color: var(--turbo);
    bottom: 0px;
    height: 2px;
    left: 0px;
    position: absolute;
    width: 126px;
}

.apprendre-versionaya .underline-YLTCeP {
    background-color: var(--turbo);
    bottom: 0px;
    height: 2px;
    left: 0px;
    position: absolute;
    width: 203px;
}

.apprendre-versionaya .underline-qg3Yun {
    background-color: var(--turbo);
    bottom: 1px;
    height: 2px;
    left: 0px;
    position: absolute;
    width: 226px;
}

.apprendre-versionaya .underline-r2Rkbn {
    background-color: var(--turbo);
    bottom: 1px;
    height: 2px;
    left: 0px;
    position: absolute;
    width: 226px;
}

.apprendre-versionaya .wknd-button-standard-ajK8Zx {
    background-color: var(--cararra);
    height: 48px;
    left: calc(50.00% - 24px);
    position: absolute;
    top: calc(50.00% - 24px);
    width: 48px;
}

.apprendre-versionaya .wknd-button-standard-ax5rxJ {
    background-color: var(--cararra);
    height: 48px;
    position: absolute;
    right: 0px;
    top: calc(50.00% - 24px);
    width: 48px;
}

.apprendre-versionaya .wknd-button-standard-f11UdC {
    background-color: var(--cararra);
    height: 48px;
    left: 0px;
    position: absolute;
    top: calc(50.00% - 24px);
    width: 48px;
}

.apprendre-versionaya .wknd-icon-8mgxWD {
    background-color: transparent;
    height: calc(100.00% - 28px);
    left: 14px;
    position: relative;
    top: 14px;
    width: calc(100.00% - 28px);
}

.apprendre-versionaya .wknd-icon-k6gn4V {
    background-color: transparent;
    height: calc(100.00% - 28px);
    left: 14px;
    position: relative;
    top: 14px;
    width: calc(100.00% - 28px);
}

.apprendre-versionaya .wknd-icon-xFiGU6 {
    background-color: transparent;
    height: calc(100.00% - 28px);
    left: 14px;
    position: relative;
    top: 14px;
    width: calc(100.00% - 28px);
}

.apprendre-versionaya .x5-erreurs-frque-nariste-dbutant-DazGFL {
    background-color: transparent;
    bottom: 1px;
    height: 37px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.apprendre-versionaya .x6-conseils-comm-mpice-de-thatre-KZtV9m {
    background-color: transparent;
    bottom: 1px;
    height: 67px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 2px);
}